{% extends 'base.html.twig' %}
{% block body %}
    <div ng-controller="CtrlProduct">
        <div class="limiter">
            <div class="container-table100">
                <div class="wrap-table100">
                    <div class="table100 ver1 m-b-110">
                        <div class="container custom-body">
                            <!-- list products -->
                            {% include 'products/list.html.twig' %}
                            <!-- end list products -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal detail product -->
        {% include 'products/detail.html.twig' %}
        <!-- end modal detail product -->

        <!-- modal edit product -->
        {% include 'products/edit.html.twig' %}
        <!-- end modal edit product -->
    </div>
{% endblock %}
{% block javascripts %}
    <!--  assets AngularJs products -->
    {% include 'products/assets.html.twig' %}
    <!--  end assets AngularJs products -->
{% endblock %}